.food-display-list-item {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.food-display-list-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.food-item-img-about-section{
    padding: 1em;
    cursor: pointer;
}

.food-item-img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.food-display-list-item-img{
    position: relative;
}

.add-icon{
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(201, 201, 201);
    border-radius: 50%;
    position: absolute;
    right: 15px;
    bottom: 15px;
    cursor: pointer;
}

.food-item-count{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    bottom: 15px;
    cursor: pointer;
    /* background-color: white; */
    /* padding: 10px 10px 10px 10px; */
}

.food-item-count p{
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(201, 201, 201);
    border-radius: 2px;
    /* padding: 0 8px 0 8px; */
}

.add-icon-minus{
    height: 25px;
    width: 25px;
    background-color: rgb(253, 220, 157);
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 8px;
}

.add-icon-add{
    height: 25px;
    width: 25px;
    background-color: rgb(161, 255, 161);
    color: rgb(0, 161, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 8px;
}

.food-img-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
            }

.food-img-title h3 {
    margin: 0;
}

.food-img-title h3{
    font-size: 16px;
}

.food-item-img-about-section p{
    padding-top: 10px;
    padding-bottom: 10px;
}

.food-item-img-about-section h6{
    margin-top: -15px;
}

.ratings-star{
    width: 100px;
    margin-top: -3px;
    margin-right: -20px;
}

.fa-star{
    color: orange;
    font-size: 14px;
}

@media (max-width: 600px) {
    .food-display-list {
        grid-template-columns: repeat(2, 1fr);
    }
    .food-item-img{
        height: 100px;
    }
    .food-item-img-about-section h3{
        font-size: 15px;
    }
    .food-item-img-about-section p{
        font-size: 12px;
    }
    .add-icon{
        height: 20px;
        width: 20px;
    }
    .add-icon i{
        font-size: 12px;
    }
    .food-img-title{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: -5px;
    }
    .fa-star{
        font-size: 11px;
    }
    .food-item-count p{
        height: 20px;
        width: 20px;
    }
    
    .add-icon-minus{
        height: 20px;
        width: 20px;
    }
    .add-icon-add{
        height: 20px;
        width: 20px;
    }
    .food-item-img-about-section h6{
        margin-bottom: -5px;
        color: grey;
    }
}