.customization-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
}

.customization-container h2 {
    color: var(--font-color);
}

.customization-inside-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.customization-food-item-pic {
    height: 300px;
    width: 300px;
    overflow: hidden;
    border-radius: 5px;
}

.customization-food-item-pic img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
    border-radius: 5px;
}

.customization-food-item-pic:hover img {
    scale: 1.1;
}

.right-customization-bar {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    background-color: antiquewhite;
    border-radius: 5px;
}

.box-1-option-1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    height: 30px;
}

.box-1-option-1 p {
    margin: 0;
}

.total-prce{
    font-size: 18px;
    margin-top: 20px;
}

.total-prce-adjustable{
    display: none;
}

.actions-btn {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.actions-btn button {
    padding: 10px 120px;
    border: none;
    border-radius: 10px;
    transition: transform 0.3s ease;
    color: white;
}

.add-to-cart {
    background-color: var(--primary-color);
}

.add-to-cart:hover {
    transform: scale(1.02);
}

.add-to-cart:active {
    transform: scale(0.9);
}

.buy-now {
    background-color: var(--buy-bg-color);
}

.buy-now:hover {
    transform: scale(1.02);
}

.buy-now:active {
    transform: scale(0.9);
}

@media (max-width: 1072px) {
    .customization-container {
        width: 90%;
    }
    .customization-food-item-pic {
        height:250px;
        width: 250px;
    }
}

@media (max-width: 795px){
    .customization-container {
        width: 90%;
    }
    .customization-food-item-pic {
        height: 200px;
        width: 200px;
    }
    .actions-btn {
        gap: 50px;
    }
    .actions-btn button {
        padding: 10px 90px;
    }
}

@media (max-width: 651px){
    .right-customization-bar{
        width: 60%;
    }
    .customization-food-item-pic {
        height: 150px;
        width: 150px;
    }
    .actions-btn {
        gap: 20px;
    }
    .actions-btn button {
        padding: 10px 60px;
    }
    .total-prce{
        font-size: 17px;
    }
}

@media (max-width: 580px){
    .customization-inside-container {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .customization-food-item-pic {
        height: 300px;
        width: 100%;
        margin-bottom: 30px;
    }
    .customization-food-item-pic img {
        height: auto; /* ✅ Keep aspect ratio */
    }
    .right-customization-bar{
        width: 100%;
    }
    .actions-btn {
        gap: 10px;
        justify-content: space-between;
    }
    .actions-btn button {
        padding: 10px 50px;
    }
    .total-prce-adjustable{
        display: block;
        margin-top: 30px;
        font-size: 18px;
    }
    .total-prce{
        display: none;
    }
}

@media (max-width: 430px){
    .actions-btn button {
        padding: 10px 30px;
    }
}